* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: hsl(47, 88%, 63%);
  font-family: "Figtree", sans-serif;
}
.container {
  width: 90%;
  max-width: 25rem;

  height: auto;
  margin: 5rem auto;
  padding: 2rem;
  border-radius: 20px;
  background-color: hsl(0, 0%, 100%);
  border: 2px hsl(0, 0%, 7%) solid;
  box-shadow: 10px 10px hsl(0, 0%, 7%);
}

.blog-card-img {
  display: flex;
  justify-self: center;
  border-radius: 10px;
  width: 20rem;
  overflow: hidden;
}

h6 {
  margin-top: 2rem;
  font-size: 1rem;
  letter-spacing: 1;
  font-weight: 800;
  color: hsl(0, 0%, 7%);
  background-color: hsl(47, 88%, 63%);
  border-radius: 5px;
  padding: 0.5rem 1rem 0.5rem 1rem;
  display: inline-block;
}
time {
  display: inline-block;
  margin-top: 1rem;
  font-size: 0.8rem;
  font-size: 500;

  margin-bottom: 1.5rem;
}

h1 {
  margin-bottom: 1.5rem;
  font-size: 1.5rem;
  font-weight: 800;
  transition: all 0.5s;
}
h1:hover {
  color: hsl(47, 88%, 63%);
  cursor: pointer;
}
p {
  line-height: 1.5;
  color: hsl(0, 0%, 42%);
  font-weight: 500;
  font-size: 1.2rem;
}
footer {
  display: flex;
  align-items: center;

  margin-top: 2rem;
  gap: 1rem;
}
footer > img {
  width: 2.5rem;
  height: auto;
}
footer > strong {
  font-weight: 800;
  font-size: 1.1rem;
}

a {
  display: inline-block;
  text-align: center;
  margin-top: 10rem;

  text-decoration: none;
  font-size: 1rem;
}

.align-link {
  text-align: center;
}

@media (min-width: 1440px) {
  .container {
    width: 85%;
    max-width: 30rem;
    aspect-ratio: 1/1;
    margin: 10rem auto;
    padding: 1.2rem;
    border-radius: 20px;
    background-color: hsl(0, 0%, 100%);
    border: 2px hsl(0, 0%, 7%) solid;
    box-shadow: 10px 10px hsl(0, 0%, 7%);
  }
  .blog-card-img {
    width: 27rem;
  }
  time {
    font-size: 1.2rem;
  }
  h1 {
    font-size: 2rem;
  }

  p {
    font-size: 1.3rem;
    font-weight: 500;
  }
  footer > strong {
    font-size: 1.5rem;
    gap: 1rem;
    padding-bottom: 1rem;
  }
}
